<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming soon</title>

    <style>
        body{
            background: rgb(81, 163, 226);
        }
    </style>
</head>
<body>

    <div class="container">
        <h1 style="display: flex; justify-content: center; text-align: center;"">You have loged in successfully</h1>
        <h2  style="display: flex; justify-content: center; text-align: center; height: 100vh; ">Coming soon...</h2>
    </div>
    
</body>
</html>