<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Sign Up</title>
</head>
<body>
    <div class="form-cont" style="background-color: rgb(188, 211, 231);">
        <h2>SignUp</h2>
        <form action="/signup" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="username" placeholder="Please enter your name" required autocomplete="off">
                
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id = "password" placeholder="Enter your password" name="password" required>

            </div>
            <div class="form-group">
                <button type="submit">Sign Up</button>
            </div>
        </form>
        <p>Already have an account? <a href="/">Login</a></p>
    </div>
    
</body>
</html>